
/*************************************
GENERAL
**************************************/
a {
 text-decoration: none;
 }

img {
max-width: 100%;

}

 body {
 	margin:0;
 	padding:0;
 	color: darkgrey;
 	background: #8470ff;
   font-family: 'Open Sans', sans-serif;
 }


 #wrapper {
   max-width: 900px;
   margin: 0 auto;
   padding: 0 5%;

 }



 a {
   color: #8470ff;

 }

 h3 {
     margin: 0 0 1em 0;
 }


/*************************************
HEADING
**************************************/

header {
background: #fff;
margin-bottom: 20px;
}


 h2  {
color:white;
 }

 .content h1{
 	background: #FFA500;
 	padding: 10px;
 	border-radius: 5px;
 	margin-bottom: 20px;
 }


h3  {


    font-size: 1.1em;
    font-weight: 700;
    margin: 15px 0 0;
}

.container{
	max-width: 960px;
	width: 96%;
	margin: auto;
}






/*************************************
NAVIGATION
**************************************/
 nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
  }

  nav ul  {
    list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
  display: inline-block;

}



/*************************************
FOOTER
**************************************/
 footer {
 font-size: 0.75em;
 text-align: center;
 clear: both;
 padding-top: 50px;
 color: #ccc;
 }

/*************************************
PAGE:
**************************************/
.mydiv {background: lightblue; width:250px; height: 250px;}

.myimage {
	position: relative;
	bottom: 16px;
    float:left;
    width:160px;
    height:200px;
    margin:20px;
    border-radius: 20px;
}




 /*************************************
PAGE: ABOUT
**************************************/
.profile-photo {
    display: block;
    max-width: 400px;
    margin: 0 auto 30px;
    border-radius: 5px;
}

/*************************************
COLORS
**************************************/


 /* green header*/
  header {
   background: #ADD8E6;
   border-color: #599a68;
 }

 /* logo text*/

 h1,h2  {
    color: #FFFFFF;
}

/* nav background on mobile devices*/
nav {
   background: #599a6b;
}

nav a, nav a:visited {
	color: #fff;
}

/* selected nav link color*/
nav a.selected, nav a:hover {
  color: #32673f;
}
/* site body*/
body {
    background-color: #fff;
    color: #000;
}